/*
for all files
*/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  color: aliceblue;
}

a {
  color: aliceblue;
}

a:visited {
  color: antiquewhite;
}

nav {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

li {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}
