body {
  background-color: aquamarine;
}

body > a {
  font-size: 48px;
}

ul > li {
  display: inline;
  padding-right: 20px;
  border: 1px solid red;
}

.homepage-container {
  text-align: center;
}
