* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

/*
HEADER
*/

header {
  padding: 16px 144px;
  background: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

nav > ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav > ul > li,
.left-hero > p {
  font-size: 18px;
  color: #e5e7eb;
}

/*
HERO
*/

.hero {
  padding: 72px 144px;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.left-hero,
.right-hero {
  flex: 1;
}

.left-hero > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.left-hero > button,
.cta button {
  background: #3882f6;
  padding: 8px 24px;
  color: #f9faf8;
  border-radius: 8px;
}

.right-hero > img {
  max-width: 650px;
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

/*
INFO
*/

.info {
  padding: 48px 0;
}

.info > h2 {
  text-align: center;
  color: #1f2937;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 36px;
}

.cards {
  display: flex;
  justify-content: center;
  flex: wrap;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  text-align: center;
}

.card > img {
  border-radius: 8px;
}

/*
QUOTE
*/

.quote {
  background: #e5e7eb;
  padding: 72px 352px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  text-align: right;
  margin-right: 32px;
  font-weight: bold;
}

/*
CTA
*/

.cta {
  padding: 32px 72px;
  margin: 108px 256px;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta button {
  border: 1px solid white;
}

/*
FOOTER
*/

footer {
  background: #1f2937;
  padding: 32px 0 48px 0;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
}
