p {
  text-align: center;
  font-size: 32px;
}

.container {
  display: flex;
  background-color: chartreuse;
  margin-bottom: 10px;
}

.container-row {
  height: 200px;
  flex-direction: row; /* default value */
}

.container-col {
  height: 500px;
  flex-direction: column;
}

.container1 {
  justify-content: flex-start;
  align-items: flex-start;
}
.container2 {
  justify-content: center;
  align-items: center;
}
.container3 {
  justify-content: flex-end;
  align-items: flex-end;
}
.container4 {
  justify-content: space-between;
  align-items: center;
}
.container5 {
  justify-content: space-around;
  align-items: stretch;
}
.container6 {
  justify-content: space-evenly;
  align-items: baseline;
}

.item {
  background-color: orange;
  border: 2px solid chocolate;
  width: 100px;
  height: 100px;
}

.item5 {
  height: 150px;
}
